src/**
**/*.map
*.vsix
tsconfig.json
.vscode/**
.git/**
node_modules/.cache/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/README.md
node_modules/**/readme.md
